body
{
    margin:0;
    padding:0;
    background:#262626;
}
.ring
{
    position:absolute;
    top:90%;
    left:90%;
    transform:translate(-50%,-50%);
    width:75px;
    height:75px;
    background:transparent;
    border:3px solid #3c3c3c;
    border-radius:50%;
    text-align:center;
    line-height:150px;
    font-family:sans-serif;
    font-size:18px;
    color: #9d9834;
    letter-spacing:4px;
    text-transform:uppercase;
    text-shadow:0 0 10px #9d9834;
    box-shadow:0 0 20px rgba(0,0,0,.5);
}
.ring:before
{
    content:'';
    position:absolute;
    top:-3px;
    left:-3px;
    width:100%;
    height:100%;
    border:3px solid transparent;
    border-top:3px solid #9d9834;
    border-right:3px solid #9d9834;
    border-radius:50%;
    animation:animateC 2s linear infinite;
}
span
{
    display:block;
    position:absolute;
    top:calc(50% - 2px);
    left:50%;
    width:50%;
    height:4px;
    background:transparent;
    transform-origin:left;
    animation:animate 5s linear infinite;
}
span:before
{
    content:'';
    position:absolute;
    width:16px;
    height:16px;
    border-radius:50%;
    background: #9d9834;
    top:-6px;
    right:-8px;
    box-shadow:0 0 20px #9d9834;
}
@keyframes animateC
{
    0%
    {
        transform:rotate(0deg);
    }
    100%
    {
        transform:rotate(360deg);
    }
}
@keyframes animate
{
    0%
    {
        transform:rotate(45deg);
    }
    100%
    {
        transform:rotate(405deg);
    }
}